@charset 'UTF-8';

*{
	margin: 0;
	padding: 0;
	font-family: 'Oxygen', sans-serif;
	font-weight: 200;
	
}

/* Grid related conent */

.maingrid{
	display: grid;
	grid-template-columns: repeat(1, 1 fr);
	grid-template-rows: repeat(3, 1 fr);
	grid-template-areas: 
		"header"
		"article"
		"footer";
}

header{
	grid-area: header;
	background-image: url(../IMG/Backgrounds/50.jpg);
	background-size: cover;
}

.LogoDiv{
	grid-area: logo;
	align-self: center;
	text-align: center;
	padding: 50px 0;
}

.navDiv{
	grid-area: nav;
}

.introduction{
	grid-area: intro;
	text-align: center;
}

article{
	grid-area: article;
	background: linear-gradient(135deg, #FFFFFF, #D3FAFF);
	background-size: cover;
}

footer{
	grid-area: footer;
	background: linear-gradient(135deg, #3D3D3D, #1E1E1E);
	text-align: center;
	padding: 20px;
	color: white;
}



/* None Grid Related Content */

nav{
	text-align: center;
	font-size: 3em;
}

nav ul{
	list-style-type: none;
}

nav ul li{
	display: block;
	padding: 0.5em;
}

a{
	text-decoration: none;
	background-color: transparent;
	color: white;
}

nav ul li a:link {
    color: white; 
	padding: 1vw;
}

nav ul li a:hover {
    color: rgba(229,229,229,1.00);
}

nav ul li a:active {
    color: rgba(168,168,168,1.00);
}


h1{
	font-size: 10vw;
	font-weight: 200;
	padding-top: 4em;
	padding-bottom: 2em;
	text-transform: uppercase;
	letter-spacing: 2vw;
	color: white;
}

h2{
	text-align: center;
	color: #2E2E2E;
	font-size: 4em;
	padding: 2em;
}

.arrow{
	padding-top: 6em;
	padding-bottom: 3em;
}


input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
	font-weight: 400;
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 5vw 10vw;
}




@media only screen and (min-width: 1000px) {
    header{
		grid-template-columns: auto;
		grid-template-rows: auto;
		grid-template-areas: 
			"logo" 
			"nav"
			"intro";
	}
	
	nav{
		align-self: center;
		text-align: center;
		font-size: 1.5em;
		padding: 2em 2em 0 2em;
	}
	
	nav ul li{
		display: inline-block;
		padding: 0.5em;
	}
	
	nav ul li a:link {
		padding: auto;
	}
	
	h1{
		font-size: 5vw;
	}
	
	.container {
    padding: 5vw 10vw;
}
}

@media only screen and (min-width: 1300px) {
    
	header{
		display: grid;
		grid-template-columns: auto;
		grid-template-rows: auto;
		grid-template-areas: 
			"logo nav"
			"intro intro";
		padding: 1em;
	}
	
	nav{
		align-self: end;
		text-align: right;
		padding: 2em 2em 0 2em;
		font-size: 1.2em;
	}
	
	.LogoDiv{
		align-self: flex-start;
		text-align: left;
		padding: 0px;
	}
	
	.container {
    padding: 5vw 30vw;
}
}